body {
  background: url('../inspired-bg.png') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:active, a:hover {
  color: #A2C2EF;
}
