* {
  text-transform: lowercase;
}

html, body {
  height: 100%;
}

#post-edit-delete {
  min-width: 90px;
}

a, a:active, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

a:active, a:hover {
  color: #A2C2EF;
}

#main-cta h1 {
  color: #07172D;
}

#signup-button {
  padding: .75rem 1.25rem;
  font-weight: 700;
  background-color: #153158;
  vertical-align: middle;
}
