* {
  text-transform: lowercase;
}

html, body {
  height: 100%;
}

body {
  background-color: #2B5692;
}

#post-edit-delete {
  min-width: 90px;
}

a, a:hover {
  text-decoration: none;
}

nav a {
  color: white;
}

nav a:hover, a:active {
  color: #A2C2EF;
}

form label, h3, h5 {
  color: #A2C2EF;
}

#main-cta h1 {
  color: #07172D;
}

#signup-button {
  padding: .75rem 1.25rem;
  font-weight: 700;
  background-color: #153158;
  vertical-align: middle;
}
