* {
  text-transform: lowercase;
}

html, body {
  height: 100%;
}

body {
  background-color: #2B5692;
}

#post-edit-delete {
  min-width: 90px;
}

a, a:hover {
  text-decoration: none;
}

nav a {
  color: white;
}

nav a:hover, a:active {
  color: #A2C2EF;
}

form label, h3, h5 {
  color: #A2C2EF;
}

#main-cta h1 {
  color: white;
}

#signup-button {
  padding: .75rem 1.25rem;
  font-weight: 700;
  background-color: #153158;
  vertical-align: middle;
}

small a {
  color: #555;
}

small a:hover, a:active {
  color: #4073B8;
}

small.float-right {
  color: #999;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
}

.pagination {
  display: block;
}

.pagination a {
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #07172D;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #153158;
  border-radius: 5px;
}

#pagination-section {
  text-align: center;
}

.pagination em, span {
  color: #A2C2EF;
}

.user-profile a, h6 {
  color: white;
}

.user-profile a:hover, a:active {
  color: #153158;
}

.user-profile h6 > dt {
  color: #999;
}

.blog-username {
  color: #A2C2EF;
}
