$light: #A2C2EF;
$highlight: #4073B8;
$main: #2B5692;
$balance: #153158;
$dark: #07172D;

* {
  text-transform: lowercase;
}

html, body {
  height: 100%;
}

body {
  background-color: $main;
}

// edit/delete post buttons
#post-edit-delete {
  min-width: 90px;
}

a, a:hover {
  text-decoration: none;
}

nav a {
  color: white;
}

nav a:hover, a:active {
  color: $light;
}

form label, h3, h5 {
  color: $light;
}

#main-cta h1 {
  color: $dark
}

#signup-button {
  padding: .75rem 1.25rem;
  font-weight: 700;
  background-color: $balance;
  vertical-align: middle
}
