<div class="container text-center">
  <form class="form-signin" method="post" action="/login">
    <img class="mb-4" src="http://via.placeholder.com/150x150" alt="Inspired Logo">
    <h1 class="h3 mb-3 font-weight-normal">please sign in</h1>
    <label for="inputEmail" class="sr-only">email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="email address" required autofocus>
    <label for="inputPassword" class="sr-only">password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 inspire(d)</p>
  </form>
</div>
