<div class="container">
  <form action="/signup" method="post" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationFirstName">first name</label>
        <input name="first_name" type="text" class="form-control" id="validationFirstName" placeholder="first name" required>
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationLastName">last name</label>
        <input name="last_name" type="text" class="form-control" id="validationLastName" placeholder="last name" required>
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input name="username" type="text" class="form-control" id="validationCustomUsername" placeholder="username" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationEmail">email</label>
        <input name="email" type="email" class="form-control" id="validationEmail" placeholder="email" required>
        <div class="invalid-feedback">
          please provide a valid email.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationPassword">password</label>
        <input name="password" type="password" class="form-control" id="validationPassword" placeholder="password" required pattern=".{6,20}">
        <div class="invalid-feedback">
          must be 6-20 characters long.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationBirthday">birthday</label>
        <input name="birthday" type="date" class="form-control" id="validationBirthday" placeholder="birthday" required>
        <div class="invalid-feedback">
          please proide a valid birthday.
        </div>
      </div>
    </div>
    <button class="btn btn-light mt-5" type="submit">sign up</button>
  </form>
